/*eslint-disable*/ 

/* DashboardPage.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  .main-header {
    margin-bottom: 20px;
  }
  
  .metrics-section {
    display: flex;
    justify-content: space-between;
  }
  
  .metric-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 0 10px;
  }
  
  .metric-card h3 {
    margin: 0 0 10px;
  }
  
  .metric-card h2 {
    margin: 0 0 10px;
  }
  
  .charts-section {
    display: flex;
    margin-top: 20px;
  }
  
  .chart-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 0 10px;
  }
  
  .chart-container h3 {
    margin-bottom: 20px;
  }


  .date-range-selector {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    margin-left: 520px; 
  }
  
  
  .date-range-selector label {
    flex-direction: column;
  }
  
  .date-range-selector input[type="date"] {
    margin-top: 5px;
  }
  
  